@model Automarket.Domain.ViewModels.Profile.ProfileViewModel

@{
    var age = @Model.Age;
    var address = @Model.Address ?? "Пусто";
}

<div class="card col-md-12" style="margin: 10px;">
    <div class="card-buttons-group">
        <button class='btn btn-primary' id='addProfileCardId'>Добавить</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Данные профиля</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Возраст: @age</li>
                    <li class="list-group-item">Адрес: @address</li>
                </ul>
            </div>
        </div>
    </div>
</div>