@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@if (User.Identity.IsAuthenticated)
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт Automarket</h5>
    <p class="card-text">
      На этом сайте вы сможете выбрать подходящую для вас модель автомобиля, посмотреть его характеристики, сравнить
      с другими моделями, а так же можете приобрести этот автомобиль
    </p>
    <p class="card-text"><small class="text-muted">АйтишныйДомосед</small></p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
        <img src="https://images.wallpaperscraft.ru/image/single/mashina_noch_dozhd_143166_1280x720.jpg" class="card-img-top card-image"/>
        <div class="card-body text-center">
          <h5 class="card-title">Mercedes</h5>
          <p class="card-text">Mercedes-Benz — торговая марка и одноимённая компания — производитель легковых автомобилей премиального класса, грузовых автомобилей, автобусов и других транспортных средств</p>
        </div>
        <div class="card-footer text-center">
          <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
        </div>
      </div>
    </div> 
  }
  <div class="col">
    <div class="card h-100">
      <img src="https://images.wallpaperscraft.ru/image/single/bmw_fary_avtomobil_124112_1280x720.jpg" class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">BMW</h5>
        <p class="card-text">
          BMW AG — немецкий производитель автомобилей, мотоциклов, двигателей, а также велосипедов
        </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images.wallpaperscraft.ru/image/single/audi_avtomobil_vid_speredi_130942_1280x720.jpg" class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Audi</h5>
        <p class="card-text">Audi AG — немецкая автомобилестроительная компания в составе концерна Volkswagen Group, специализирующаяся на выпуске автомобилей под маркой Audi</p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Основные виды кузовов</h5>
    <p class="card-text">
      Тип кузовной конструкции легко определяется по внешнему виду автомобиля. Для каждого класса характерны отличительные черты,
      которые легко обнаружить даже при наличии небольшого опыта. Кроме того, свою роль в классификации играет и способ реализации багажного отделения,
      которое может быть объединено с пассажирским салоном или отделено от него
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Наибольшим спросом пользуются легковые автомобили со следующими типами кузова</h5>
  </div>
  <ul class="list-group list-group-flush" id="ulListId">
    <li class="list-group-item">Седан — самый распространенный вариант</li>
    <li class="list-group-item">Универсал — семейный автомобиль с большими возможностями</li>
    <li class="list-group-item">Хэтчбек — укороченный вариант универсала</li>
    <li class="list-group-item">Лифтбек — комбинация универсала и седана</li>
    <li class="list-group-item">Купе — машина для ценителей личного пространства</li>
    <li class="list-group-item">Лимузин — показная роскошь</li>
    <li class="list-group-item">Кабриолет всегда притягивает взгляды</li>
    <li class="list-group-item">Внедорожник — повышенная прочность и надежность</li>
  </ul>
  <div class="card-body">
    <button class="btn btn-danger" id="btnHideId">Скрыть</button>
    <button class="btn btn-primary" id="btnShowId">Показать</button>
  </div>
</div>
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для просмотра контента вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="~/img/Bmw_I8.jpg" class="card-img-top" alt="BMW i8">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">BMW i8</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/Mustang.jpg" class="card-img-top" alt="Mustang">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Mustang</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/Bmw.jpg" class="card-img-top" alt="BMW">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">BMW</small>
        </div>
      </div>
    </div>
  </div>
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}
