.backgroundImage {
    background-image: url("https://img1.akspic.ru/originals/8/8/2/7/6/167288-svet-neonovyj_gorod_besplatno-android-krasochnost-purpur-3840x2160.jpg");
    background-size: cover;
    background-attachment: fixed;
}